<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            Alien_game - <!-- we later replace this with our game name -->
            {% block title_block %}
                Hi!
            {% endblock %}
        </title>
        <link rel="stylesheet" href="loginStyle.css">
        <script src="login.js"></script>
    </head>

    <body>

        <div>
            <header class="headBar">
                <div>
                    <a href="{% url 'gameApp:home' %}">
                        <img class="icons" src="home_icon.png" alt="Home">
                    </a>
                    <a href="{% url 'gameApp:instructions' %}">
                        <img class="icons" src="instructions_icon.png" alt="Instructions">
                    </a>
                    <a href="{% url 'gameApp:leaderboard' %}">
                        <img class="icons" src="leaderboard_icon.png" alt="Leaderboard">
                    </a>
                </div>
            </header>
        </div>

        <div id="login_bg">
            <a href="{% url 'gameApp:login' %}">
                <div id="login_img"></div>
            </a>
            <div id="login_text">Login</div>
        </div>

        <div id="loginFrame">
         
        </div>
        <div id="loginFrame_bg"></div>

        <div class="text_headings">
            Login
        </div>

        <div class="circle">
        </div>

        <div id="text_username" class="text_preinput">
            User Name:
        </div>
        <div id="text_password" class="text_preinput">
            Password:
        </div>

        <form id="login_form" method="post" action="{% url 'rango:login' %}">
            <div id="input_username" class="inputcontainer">
                <input class="styled-input" type="text" name="username" value="" size="50">
            </div>
            <div id="input_password" class="inputcontainer">
                <input class="styled-input" type="password" name="password" value="" size="50">
            </div>
            <div id="submitcontainer" class="inputcontainer">
                <input class="styled-submit" type="submit" value="submit" />
            </div>
        </form>

        <div class="text_signup">
            Do not have an account?<br>
            <a href="{% url 'gameApp:register' %}" class="link">sign up</a> here!
        </div>

        <div class="text_declaration">
            This project is created by: Salwa Sayed | Nairn White | Jonatan Wiankowski | Lawrence Zhang​
        </div>
</body>
</html>