@import "baseStyle.css";

#userframe{
    position:absolute;
    left: calc(50% - 400px);
    transform: translate(-50%);
    top:200px;
    width:500px;
    height:700px;

    background: url("../images/userframe.png") no-repeat;
    background-size: contain;
    image-rendering: pixelated;

    z-index: 3;
}
#userframe_bg{
  position:absolute;
  left: calc(50% - 400px);
  transform: translate(-50%);
  top:220px;
  width:380px;
  height:625px;
  background-color: #1c3147;

  z-index: 2;
}
body {
  height:960px;
}

#username{
  position: relative;
  left:85px;
  top:80px;
  width:340px;
  font-size: 40px;
  font-family: 'Fixedys', sans-serif;
  color:#92ffff;
  text-align: center;
  overflow: hidden;
}

#logout{background-image: url('../icons/logout_icon.png');}
#upload{background-image: url('../icons/pfp_icon.png');}
#save{background-image: url('../icons/save_icon.png');}

.pfp_display{
  position:relative;
  top:70px;
  left:122px;
  width:260px;
  height:260px;
  object-fit: cover;
  border: 3px solid rgb(11, 11, 43);
  box-shadow: 2px 2px 0px rgb(26,00,24),-2px -2px 0px rgb(143, 148, 170);
  image-rendering: pixelated;
}

.button_icon{
    image-rendering: pixelated;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
}

.logout_bg{
  background-color: rgb(206, 105, 132);
  top:165px;
  left:188px;
}
.upload_bg{
  background-color: rgb(78, 100, 138);
  top:112px;
  left:100px;
}
.save_bg{
  top:130px;
  background: rgb(78, 142, 150);
  left:100px;
}

.button_text{
    line-height:35px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 25px;
    font-family: 'Fixedys', sans-serif;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 0px rgba(112, 80, 149, 0.4);
}

.no_underline{
    text-decoration: none;
}
.hyperlink{
    height:100%;
    width: 100%;
    display:flex;
    justify-content: space-between;
}

input[type="file"] { /* hide the default shit */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.custom-file-upload {
  width:160px;
  height:40px;
  display: inline-block;
  cursor: pointer;
}

.styled_button {
  width: 160px;
  height: 40px;
  font-size: 25px;

  font-family: 'Fixedys', sans-serif;
  border: none;
  color: #ffffff;
  background: transparent;
  text-shadow: 1px 1px 0px rgba(112, 80, 149, 0.4);
  padding-left: 10px;
  padding-bottom: 5px;
  text-align: left;
}

.buttons,
.buttons--wrapper {
    width:200px;
    height:40px;
    position: relative;

  clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px);
  position: relative;
}
.buttons {
  border: 4px solid transparent;
}
.buttons--wrapper {
  width: fit-content;
  height: fit-content;
}
.buttons--wrapper .buttons {
  display: block;
  clip-path: polygon(4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px));
}
.buttons::after,
.buttons--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px,
    0px 50%,
    4px 50%,
    4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #13ffef;
  display: block;
  pointer-events: none;
}
.buttons::after {
  margin: -4px;
}