@import "baseStyle.css";

#new{
    background-image: url('../icons/new_icon.png');
}
#continue{
    background-image: url('../icons/continue_icon.png');
}

.game_icon{
    image-rendering: pixelated;
    position: relative;
    top:15%;
    left:25%;
    align-items: center;
    width: 12vw;
    height: 12vw;
    object-fit: contain;
    background-size: cover;
}

.game_text{
    position:relative;
    top:1vw;
    left: 50%;
    transform: translate(-50%);

    text-align: center;
    font-family: 'Fixedys', sans-serif;
    font-size:5vw;
    color:white;
    text-shadow: 3px 3px 0px #2fd2f7,-3px -3px 0px #f73333;
}

.no_underline{
    text-decoration: none;
}
.hyperlink{
    height:100%;
    width: 100%;
}

#game_scene{
    left: calc(50% + 20vw);
    transform: translate(-50%);
    background-color: #f0a168;
    /*background: linear-gradient(45deg,#ec995f,#f9caa1);*/
}
#game_creation{
    left: calc(50% - 20vw);
    transform: translate(-50%);
    background-color: #e87d7d;
    /*background: linear-gradient(315deg,#e87d7d,#ff9784) ;*/
    
}
#game_scene:hover{background-color: #f8c46c;}
#game_creation:hover{background-color: rgb(246, 145, 162)}

.cube{
  position:absolute;
  image-rendering: pixelated;

  z-index: 2;
}

.text_hint{
  width:70vw;
  text-align: center;
  font-family: 'Fixedys', sans-serif;
  font-size:1vw;
  position:fixed;
  bottom:100px;
  left: 50%;
  transform: translate(-50%);
  color:#54a596;
  z-index:2;
}

.game_frame,
.game_frame--wrapper {
    position: fixed;
    top:30vh;
    width:25vw;
    height:25vw;
    z-index: 2;
  clip-path: polygon(0px calc(100% - 28px),
    4px calc(100% - 28px),
    4px calc(100% - 20px),
    8px calc(100% - 20px),
    8px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 4px),
    28px calc(100% - 4px),
    28px 100%,
    calc(100% - 28px) 100%,
    calc(100% - 28px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 28px),
    100% calc(100% - 28px),
    100% 28px,
    calc(100% - 4px) 28px,
    calc(100% - 4px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 4px,
    calc(100% - 28px) 4px,
    calc(100% - 28px) 0px,
    28px 0px,
    28px 4px,
    20px 4px,
    20px 8px,
    12px 8px,
    12px 12px,
    8px 12px,
    8px 20px,
    4px 20px,
    4px 28px,
    0px 28px);
}
.game_frame {
  border: 8px solid transparent;
}
.game_frame--wrapper {
  width: fit-content;
  height: fit-content;
}
.game_frame--wrapper .game_frame {
  display: block;
  clip-path: polygon(4px 28px,
    8px 28px,
    8px 20px,
    12px 20px,
    12px 12px,
    20px 12px,
    20px 8px,
    28px 8px,
    28px 4px,
    calc(100% - 28px) 4px,
    calc(100% - 28px) 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) 28px,
    calc(100% - 4px) 28px,
    calc(100% - 4px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 4px),
    28px calc(100% - 4px),
    28px calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 20px),
    8px calc(100% - 20px),
    8px calc(100% - 28px),
    4px calc(100% - 28px));
}
.game_frame::after,
.game_frame--wrapper::after {
  content: "";
  position: fixed;
  clip-path: polygon(0px calc(100% - 28px),
    4px calc(100% - 28px),
    4px calc(100% - 20px),
    8px calc(100% - 20px),
    8px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 4px),
    28px calc(100% - 4px),
    28px 100%,
    calc(100% - 28px) 100%,
    calc(100% - 28px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 28px),
    100% calc(100% - 28px),
    100% 28px,
    calc(100% - 4px) 28px,
    calc(100% - 4px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 4px,
    calc(100% - 28px) 4px,
    calc(100% - 28px) 0px,
    28px 0px,
    28px 4px,
    20px 4px,
    20px 8px,
    12px 8px,
    12px 12px,
    8px 12px,
    8px 20px,
    4px 20px,
    4px 28px,
    0px 28px,
    0px 50%,
    8px 50%,
    8px 32px,
    12px 32px,
    12px 24px,
    16px 24px,
    16px 16px,
    24px 16px,
    24px 12px,
    32px 12px,
    32px 8px,
    calc(100% - 32px) 8px,
    calc(100% - 32px) 12px,
    calc(100% - 24px) 12px,
    calc(100% - 24px) 16px,
    calc(100% - 16px) 16px,
    calc(100% - 16px) 24px,
    calc(100% - 12px) 24px,
    calc(100% - 12px) 32px,
    calc(100% - 8px) 32px,
    calc(100% - 8px) calc(100% - 32px),
    calc(100% - 12px) calc(100% - 32px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 32px) calc(100% - 12px),
    calc(100% - 32px) calc(100% - 8px),
    32px calc(100% - 8px),
    32px calc(100% - 12px),
    24px calc(100% - 12px),
    24px calc(100% - 16px),
    16px calc(100% - 16px),
    16px calc(100% - 24px),
    12px calc(100% - 24px),
    12px calc(100% - 32px),
    8px calc(100% - 32px),
    8px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00d7af;
  display: block;
  pointer-events: none;
}
.game_frame::after {
  margin: -8px;
}