{% extends 'gameApp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Home
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/homepageStyle.css' %}">
    <script type="module" src="homepage.js"></script>
{% endblock %}

{% block body_block %}
    <div id="logo_centre">
        <img src="homepagelogo_centre.png" alt="HomepageLogo_c">
    </div>

    <div id="logo_back">
        <img src="homepagelogo_back.png" alt="HomepageLogo_b">
    </div>

    <div id="logo_front">
        <img src="homepagelogo_front.png" alt="HomepageLogo_f">
    </div>

    <div class="circle">
    </div>

    <div class="general_welcome">
        Welcome to our alien-survival-game!
    </div>

    <div class="general_description">
        Try to survive in a world invaded by the aliens... (or the other way round?)<br>
        Find and collect different artifacts and weapons!<br>
        I really cannot come up with more text here
    </div>

    <div class="text_declaration">
        This project is created by: Salwa Sayed | Nairn White | Jonatan Wiankowski | Lawrence Zhang​
    </div>
{% endblock %}