{% extends 'gameApp/base.html' %}
{% load static %}

{% block title_block %}
	Instructions
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/instructionStyle.css' %}">
    <script type="module" src="{% static 'js/instruction.js' %}"></script>
{% endblock %}

{% block body_block %}
    <div id="left_1" class="side left"></div>
    <div id="left_2" class="side left"></div>
    <div id="left_3" class="side left"></div>
    <div id="right_1" class="side right"></div>
    <div id="right_2" class="side right"></div>
    <div id="right_3" class="side right"></div>

    <div class="instruction_frame"> <!-- replace these with real instruction -->
        <div class="instruction_subheading">
            STORY
        </div>
        <p>
            Aliens from the planet Mininarr have taken over your neighbourhood and others around it. Many brave warriors, much like yourself have tried to take it back but none have been successful. They all perished at the hands of the aliens, although lucky for you the aliens didn't want the warriors' weapons so you may find them in the houses you explore but be aware, they come with a cost.<br>
        </p>
        <p>
            After the aliens take over the houses, they keep their valuables in them but they're not very good at hiding them. You should try to steal as much of their stuff as you can but be aware, it will also come with a cost. The aliens value certain artifacts more than others, so some might not be as easy to find. However you should know, not all weapons and artifacts are found by searching rooms.<br>
        </p>
        <p>
            This is a dangerous journey and many things can (and probably will) kill you. You should make the most of your adventure; find as many artifacts as you can, test out cool weapons, battle with aliens, get on the leaderboard by attempting to set records and most importantly, take back the neighbourhood.<br>
        </p>
        <div class="instruction_subheading">
            INSTRUCTIONS
        </div>
        <p>
            Your main goal is to kill as many aliens as you can and survive as long as you can. You will be given the choice of houses to enter and they will contain rooms, and within those rooms will either be artifacts, weapons or aliens<br>
        </p>
        <p>
            Weapons and artifacts have 4 rarities: Common, Rare, Legendary and ??????. Every artifact/weapon room will have at least a common item or higher, you have a solid chance of finding rare items when looting, legendary items have a very low chance of appearing and as for the last rarity... get creative.<br>
        </p>
        <p>
            When you encounter aliens, you have the chance to run if they seem too powerful for you but be aware, you won't always get away unscaved. You can also choose to fight them, you will always have a weapon (you will start with just your fists) and rarer ones will be stronger but be careful, it won't always be stronger than your opponent's.<br>
        </p>
        <p>
            You will also have certain stats when you play; your HP is how much life you have, if it reaches 0, you die, your speed can dictate who takes the first swing in a fight and also your chances of escaping from a fight without the alien attacking you and finally, your food is how much food you currently have, it will go down after activities such as picking up weapons and artifacts. These stats can be built up by defeating aliens and after surviving for so long.<br>
        </p>
    </div>
{% endblock %}

{% block heading %}
    Instructions
{% endblock %}