{% extends 'gameApp/base.html' %}
{% load static %}

{% block title_block %}
	Play
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/playStyle.css' %}">
    <script type="module" src="{% static 'js/play.js' %}"></script>
{% endblock %}

{% block body_block %}
    <div class="circle">
    </div>

    <div class="game_frame" id="game_creation">
        <a href="{% url 'gameApp:gameCreation' %}" class="no_underline">
            <div class="hyperlink">
                <div class="game_text">New game</div>
                <div class="game_icon" id="new"></div>
            </div>
        </a>
    </div>


    <div class="game_frame" id="game_scene">
        <a href="{% url 'gameApp:gameScene' %}" class="no_underline"> <!-- must apply it in <a> -->
            <div class="hyperlink">
                <div class="game_text">Continue</div>
                <div class="game_icon" id="continue"></div>
            </div>
        </a>
    </div>

    <div class="text_hint">
        Note: When clicking "New game", the previous game data is discarded (if exists)<br>
        However when you're in gameScene, in whatever way you end the game, it will be updated to your record<br>
        So "New game" is actually a way to... kill the games you didn't play well? hmmm...
    </div>
{% endblock %}

{% block heading %}
    Play
{% endblock %}