{% extends 'gameApp/base.html' %}
{% load static %}

{% block title_block %}
	My account
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/accountStyle.css' %}">
    <script type="module" src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block body_block %}
    <div class="buttons logout_bg">
        <a href="{% url 'gameApp:logout' %}" class="no_underline">
            <div class="hyperlink">
                <div class="button_text">logout</div>
                <div class="button_icon" id="logout"></div>
            </div>
    </div>
    




{% endblock %}

{% block heading %}
    My account
{% endblock %}