<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            Alien_game - <!-- we later replace this with our game name -->
            {% block title_block %}
                Hi!
            {% endblock %}
        </title>
        <link rel="stylesheet" href="playStyle.css">
        <script src="play.js"></script>
    </head>

    <body>
        <div>
            <header class="headBar">
                <div>
                    <a href="{% url 'gameApp:home' %}">
                        <img class="icons" src="1/home_icon.png" alt="Home">
                    </a>
                    <a href="{% url 'gameApp:instructions' %}">
                        <img class="icons" src="1/instructions_icon.png" alt="Instructions">
                    </a>
                    <a href="{% url 'gameApp:play' %}">
                        <img class="icons" src="1/play_icon.png" alt="Instructions">
                    </a>
                    <a href="{% url 'gameApp:collections' %}">
                        <img class="icons" src="1/collections_icon.png" alt="Instructions">
                    </a>
                    <a href="{% url 'gameApp:leaderboard' %}">
                        <img class="icons" src="1/leaderboard_icon.png" alt="Leaderboard">
                    </a>
                </div>
            </header>
        </div>

        <div id="login_bg">
            <a href="{% url 'gameApp:login' %}">
                <div id="login_img"></div>
            </a>
            <div id="login_hello">Hello,</div>
            <div id="login_username">User10086 !</div>
        </div>

        <div id="loginFrame">
         
        </div>
        <div id="loginFrame_bg"></div>

        <div class="text_headings">
            Play
        </div>

        <div class="circle">
        </div>


        <div class="game_frame" id="game_creation">
            <a href="{% url 'gameApp:gameCreation' %}" class="no_underline">
                <div class="hyperlink">
                    <div class="game_text">New game</div>
                    <div class="game_icon" id="new"></div>
                </div>
            </a>
        </div>

        <div class="game_frame" id="game_scene">
            <a href="{% url 'gameApp:gameScene' %}" class="no_underline"> <!-- must apply it in <a> -->
                <div class="hyperlink">
                    <div class="game_text">Continue</div>
                    <div class="game_icon" id="continue"></div>
                </div>
            </a>
        </div>

        
        <div class="text_declaration">
            This project is created by: Salwa Sayed | Nairn White | Jonatan Wiankowski | Lawrence Zhang​
        </div>
    </body>
</html>